{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block content %}
    <main>
        <div class="home">
            <h1>Welcome, {{name}}!</h1>

            <div class="dpcontainer">
                {% if dp == None %}
                <img src="{{ url_for('static', filename='photos/blank.png')}}"/>
                {% else %}
                <img src="{{dp}}"/>
                {% endif %}
            </div>

            <div class="user-info">
                <div class="info">
                    <h5>{{followers}}</h5>
                    <h6>FOLLOWERS</h6>
                </div>
                <div class="info">
                    <h5>{{following}}</h5>
                    <h6>FOLLOWING</h6>
                </div>
                <div class="info">
                    <h5>{{playlists}}</h5>
                    <h6>PLAYLISTS</h6>
                </div>
            </div>

            <a href="/playlists" class="buttoncontainer">
                <button id="playlist">
                    <span>Download Playlists</span>
                    <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                      <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                    </svg>
                </button>
            </a>

            <a href="/" class="buttoncontainer">
                <button class="noselect" id="logout">
                    <span class="text">Logout</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                        </svg>
                    </span>
                </button>
            </a>

        </div>
    </main>
{% endblock %}